- name: Check if app repository exists
  stat:
    path: /home/{{ ansible_user }}/app/.git
  register: git_repo

- name: Clone application repository
  git:
    repo: "{{ github_repo }}"
    dest: /home/{{ ansible_user }}/app
    version: "{{ github_branch }}"
    force: yes
  when: not git_repo.stat.exists
  become_user: "{{ ansible_user }}"
  register: git_clone

- name: Pull latest changes from repository
  git:
    repo: "{{ github_repo }}"
    dest: /home/{{ ansible_user }}/app
    version: "{{ github_branch }}"
    update: yes
    force: yes
  register: git_pull
  become_user: "{{ ansible_user }}"
  when: git_repo.stat.exists

- name: Set fact for code changes
  set_fact:
    code_changed: "{{ (git_clone.changed | default(false)) or (git_pull.changed | default(false)) }}"

- name: Create .env file
  template:
    src: env.j2
    dest: /home/{{ ansible_user }}/app/.env
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0600'

- name: Create letsencrypt directory
  file:
    path: /home/{{ ansible_user }}/app/letsencrypt
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0755'

- name: Stop existing containers (if code changed)
  community.docker.docker_compose_v2:
    project_src: /home/{{ ansible_user }}/app
    state: stopped
  become: true
  when: git_pull.changed
  ignore_errors: true

- name: Build and start Docker Compose services
  community.docker.docker_compose_v2:
    project_src: /home/{{ ansible_user }}/app
    build: always
    state: present
  become: true
  register: compose_result

- name: Wait for services to be healthy
  pause:
    seconds: 45

- name: Check running containers
  command: docker ps
  register: docker_ps
  changed_when: false
  become_user: "{{ ansible_user }}"

- name: Display running containers
  debug:
    var: docker_ps.stdout_lines

- name: Verify application is accessible
  uri:
    url: "http://localhost"
    status_code: [200, 301, 302, 404] 
    validate_certs: no
  register: health_check
  retries: 3
  delay: 10
  failed_when: false 
  ignore_errors: true
